@charset "UTF-8";

* {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
}

header {
  width: 100%;
  background-color: #1d539e;
  color: white;
  text-align: center;

  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header h1 {
  padding-top: 80px;
  padding-bottom: 20px;

  font-size: 3rem;
  font-weight: 700;
}

header p {
  width: 60%;
  font-size: 1.125rem;
  font-weight: 600;
  padding-bottom: 215px;
}

main {
  padding-top: 300px;
  position: relative;
  z-index: 10;

  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

section {
  width: 355px;
  margin: 20px;
  background-color: white;

  border: solid #1d539e 1px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
}

section h2 {
  padding-top: 30px;
  padding-left: 30px;
  padding-bottom: 20px;

  color: #1e2338;
  font-size: 1.125rem;
  font-weight: 600;
}

section p {
  font-weight: 400;

  padding-left: 31px;
  padding-top: 10px;
}

section div p {
  color: #828799;
  font-size: 1.125rem;
}

section div p strong {
  color: #1e2338;
  font-weight: 700;
  font-size: 2.25rem;
}

section div p span {
  color: #1e2338;
  font-weight: 700;
}

section p,
ul {
  color: #828799;
  font-size: 0.875rem;
}

section ul {
  padding-top: 41px;
  padding-left: 53px;

  list-style: none;
  list-style-image: url(./assets/check.svg);

  font-weight: 600;
}

section ul li {
  padding-top: 20px;
  padding-left: 10px;
  font-size: 0.875rem;
}

section button {
  margin: 35px;
  padding: 10px 100px;
  background-color: white;

  color: #1d539e;
  font-weight: 800;
  font-size: 1.125rem;

  border: 1px solid #1d539e;
  border-radius: 10px;

  cursor: pointer;
}

#basic .head {
  color: #1d539e;
  background-color: #ffcc29;
  box-shadow: 0px 1px 2px rgba(142, 150, 185, 0.25);
  border-radius: 8px 8px 0px 0px;

  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 20px;
}

#basic .head span {
  width: 94px;
  height: 32px;
  background-color: #1d539e;
  color: white;
  border-radius: 40px;

  font-size: 0.75rem;
  font-weight: 600;

  display: flex;
  align-items: center;
  justify-content: center;
}

#basic ul li {
  font-size: 1rem;
}

#basic button {
  background-color: #1d539e;
  color: white;
  margin-top: 75px;
  margin-bottom: 35px;
}

#free button {
  margin-top: 120px;
  margin-bottom: 35px;
}
